  /* Reglas tipo etiqueta */
  body {
      margin: 0; 
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* Reset Heading  */
  h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
      border: 0;
      font-weight: normal;
  }

  h1{ font-size: 1.6em;}
  h2{ font-size: 1.4em;}
  h3{ font-size: 1.2em;}
  h4{ font-size: 1em;}
  h5{ font-size: 0.9em;}
  h6{ font-size: 0.8em;}
  
/* reglas tipo ID y class */
  #pagina {
        display: grid;
        height: 100vh; 
        grid-template-rows: 150px 50px 1fr 100px;
        grid-template-columns: 330px 330px 300px;
        justify-content: center;
        grid-template-areas: "encabezado encabezado encabezado"
                             "navegacion navegacion navegacion"
                             "contenido contenido banners"
                             "pie pie pie"; 
    }
    #encabezado {
        background-color: aquamarine;
        /* grid-column-start: 1;
        grid-column-end: 4;  */
        /* grid-column: 1/4; */
        grid-area: encabezado;
        display: grid;
        grid-template-columns: 200px 1fr repeat(2, 100px);
        grid-template-rows: 100px 50px;
    }
    #Navegacion {
        background-color: lightslategrey;
        /* grid-column-start: 1;ew
        grid-column-end: 4; */
        /* grid-column: 1/ -1; */
        grid-area: navegacion;
    }
    #principal {
        background-color: pink;
        /* grid-column-start: 1;
        grid-column-end: 3; */
        /* grid-column: 1/ span 2; */
        grid-area: contenido;
    }
    #banners {
        background-color: coral;
        grid-auto-columns: banners;
    }
    #pie {
        background-color: chartreuse;
        /* grid-column-start: 1;
        grid-column-end: 4; */
        /* grid-column: 1 / -1; */
        grid-area: pie;
    }
    /* Media Queries */
    @media screen and (max-width: 768px) {
        #pagina {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            grid-template-areas: "encabezado"
                                "contenido"
                                "banners"
                                "pie"; 
        }
        #navegacion {
            display: none;
        }
    }
        .logo-sems, .logo-uemstis, .form-busqueda{
        display: none;
        }
        .titulos>h2, .titulos>h3, .titulos>h4, .titulos>h5 {
            display: none;
        }
        
    #encabezado{
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .logo-sep, .titulos { 
        grid-row: span 2;
    }

    .form-busqueda {
        grid-column: span 2;
        align-self: center; /*centrar verticalmente elementos dentro del grid*/
    }

    .form-control{
        display: flex;
    }
    
    .form-busqueda>.form-control>input{
        width: 80%;
        box-sizing: border-box;
        
    }
    .form-busqueda>.form-control>button{
        width: 20%;
        padding: 2px;
        font-size: 0.5em;

    }
    .form-busqueda>.form-control>input
    .form-busqueda>.form-control>button{
        border: 1px solid gray;
        border-radius: 0;
        height: 30px;                    